.border-custom {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 3px solid #ffffff;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body{
    font-family: 'Titillium Web', Arial, sans-serif;
    background: url(../img/single_girl.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.donation-container{
    background: white;
    color: black;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.donation-stuff{
    padding: 5px 10px 5px 10px;

}